<?xml version="1.0" encoding="UTF-8"?>
<!-- covers annotations should be required, but annotations and assertions would be redundant -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    convertDeprecationsToExceptions="true"
    failOnRisky="true"
    failOnWarning="true"
    forceCoversAnnotation="false"
    beStrictAboutCoversAnnotation="false">
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
  </logging>
</phpunit>
