name: "Tests"
on: 
  - push
  - pull_request
jobs:
  coding-standard:
    name: Coding standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
          tools: cs2pr

      # Install dependencies and handle caching in one go.
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          # Bust the cache at least once a month - output format: YYYY-MM.
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Check coding standards
        id: phpcs
        run: ./vendor/bin/phpcs -s --report-full --report-checkstyle=./phpcs-report.xml

      - name: Show PHPCS results in PR
        if: ${{ always() && steps.phpcs.outcome == 'failure' }}
        run: cs2pr ./phpcs-report.xml
        
  type-checker:
    name: Type checker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Psalm
        uses: docker://vimeo/psalm-github-actions
        with:
          args: --shepherd
          
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # there is no php:5.5-cli-alpine Docker image, which php-actions/phpunit requires
        # test code not compatible with PHP <7.2
        php: ['7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3']
        phpunit_args: [""]
        coverage: [false]
        include:
          - php: "8.4"
            phpunit_args: --display-deprecations --display-phpunit-deprecations
            coverage: true
              

    name: "Test: PHP ${{ matrix.php }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php }}"
          coverage: ${{ matrix.coverage == true && 'xdebug' || 'none' }}
          extensions: gnupg
      # Install dependencies and handle caching in one go.
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          # Bust the cache at least once a month - output format: YYYY-MM.
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Import GPG key
        run: gpg --import tests/private.key

      - name: Unit tests with coverage
        if: ${{ matrix.coverage == true }}
        run: ./vendor/bin/phpunit --coverage-clover coverage.xml --coverage-filter src ${{ matrix.phpunit_args }}

      - name: Unit tests
        if: ${{ matrix.coverage == false }}
        run: ./vendor/bin/phpunit --no-coverage ${{ matrix.phpunit_args }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ success() && matrix.coverage == true }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
  
  rector:
    runs-on: ubuntu-latest
    name: Rector
    
    steps:
      - uses: actions/checkout@v5
      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
      - uses: php-actions/composer@v6
        with:
          php_version: "8.4"
      - name: Check compatibility
        run: composer rector
